body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 24px;
}

header {
    width:100vw;
    background-color: black;
    color:white;
    text-align: center;
}
header h1{
    padding:1em;
}
.orange{
    color: rgb(205, 146, 37);
}
nav ul, .social {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    font-size: 20px;
}
nav ul li{
    margin: 0em 1em 1em 1em;    
}
nav ul li a {
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;
}
#intro{
    width:90vw;
    line-height: 100px;
}
#intro h1{
    position: relative;
    font-size: 3em;
    display: block;
    max-width: 1920px;
    width:70%;
    text-align: left;
    margin:auto;
} 
h1 span .title{
    font-weight: 700;
}
.flip-container{
    display: inline-block;
    width: 50%;
    height: 1.5em;
}
.flip{
    position: absolute;
    display: block;
    text-align: left;
    width:100%;
    opacity: 0;
    animation: rotate-word 30s linear infinite;
}
.pet{
    animation-delay: 5s;
}
.aes{
    animation-delay: 10s;
}
.worm{
    animation-delay: 15s;
}
.game{
    animation-delay: 20s;
}
.mom{
    animation-delay: 25s;
}
@keyframes rotate-word{
    0%{opacity:0;}
    1%{transform: translateY(20px);}
    2%{opacity:0;}
    4%{opacity:1;}
    8%{opacity: 1;;}
    16%{opacity:0;}
    32%{transform:translateY(-20px);}
    64%{opacity:0;}
    100%{opacity:0;}
}
    
.flip-ploy ::after{
    transform:translateX(5px);
    content : "";
    background-size: cover;
}
.block {
    margin: 10px;
    padding: 10px;
}

#about{
    width:90vw;
    background-color: rgb(205, 146, 37);
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color:black;
    margin:auto 0 auto 0;
}
#container-about h1{
    font-size: 2.5rem;
    text-align: left;
    margin:1rem;
}

#container-about p{
    font-size: 1.5rem;
    text-align: left;
    margin:1rem;
}
#portrait{
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin:auto;
}
#container-photo{
    width: 250;
    margin:auto;
}
#container-about{
    width:70%;
    margin:auto;
}
.icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icon-box{
    text-align: center;
    margin: 1em;
}
i{
    font-size: 100px;
}
.container-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-column {
    display:flex;
    flex-wrap: wrap;
}
.social li a{
    text-decoration: none;
    margin: 1em;
}
div{
    margin:1em;
    padding:1em;
}